<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatórios de lançamentos por pessoa</h1>
    </div>
    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="ui-g-12">
        <label style="margin-right: .5em;">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" required [(ngModel)]="periodoInicio"
          [inputStyle]="{ 'width': '95px' }" name="periodoInicio"> </p-calendar>

        <label style="margin-left: .5em;margin-right: .5em;">até</label>

        <p-calendar dateFormat="dd/mm/yy" required [(ngModel)]="periodoFim"
          [inputStyle]="{ 'width': '95px' }" name="periodoFim"> </p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Gerar" [disabled]="f.invalid"></button>
      </div>

    </form>
  </div>
</div>
