<div class="container-login" >

  <form #form="ngForm" autocomplete="off">
    <div class="ui-g box">
        <div class="ui-g-12 ui-md-12 ui-fluid" style="text-align: center;">
          <div class="ui-g-1">
            <img  class="logo-aplicacao" src="../../../assets/logo-algamoney.png" alt="AlgaMoney" width="50px" height="50px">
          </div>
          <div class="ui-g-11">
            <h1>AlgaMoney</h1>
          </div>
        </div>

        <div class="ui-inputgroup ui-g-12 ui-md-offset-0 ui-md-12 ui-fluid">
          <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input class="pi pi-user" pInputText type="email" name="email" ngModel placeholder="E-mail" #email autofocus required>
        </div>

        <div class="ui-inputgroup ui-g-12 ui-md-offset-0 ui-md-12 ui-fluid">
          <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input pInputText type="password" name="senha" ngModel placeholder="Senha" #senha required>
        </div>

        <div class="ui-g-12 ui-md-offset-0 ui-md-12 ui-fluid">
          <button pButton label="Acessar" [disabled]="form.invalid" (click)="login(email.value, senha.value); email.focus();"></button>
        </div>

    </div>

  </form>
</div>
